#navbar{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    width:100%;
    background-color:var(--superman-blue);
    border-bottom:5px solid var(--superman-yellow);
    box-shadow:0px 15px 15px rgba(0, 0, 0,0.1);
    position:fixed;
    left:0;
    top:0;
    padding:5px;
    
  }
  #navbar ul{
    list-style:none;
    margin-right:5vw;
    transition: color 0.6s ease-in;
  }
  
  a{
    color:var(--superman-yellow);
    text-decoration:none;
  }

  a:hover{
    color:aliceblue;
   }